langchain

langgraph

chromadb

langchain-community

langchain-groq

langchain-google-genai

sentence-transformers

pymupdf

pypdf

streamlit

python-dotenv

pydantic

pandas

numpy

faiss-cpu

tiktoken

rapidfuzz

plotly
